*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    height: 64px;
    background-color: #E6EBFE;
    justify-content: space-between;
    margin-bottom: 23px;
}
.navbar_logo{
    margin-top: 18px;
    margin-left: 18px;
    font-size: 26px;
    background-image: linear-gradient(to right,#152B79 35%, #3250bd);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
}
.navbar_links{
    display: flex;
    list-style-type: none;
    gap: 21px;
    margin-right: 21.4px;
    margin-top: 24px;
}
.navbar_links a{
    text-decoration: none;
    color: #3250BD;
}
.navbar_links a:hover{
    border-bottom: 4px solid;
}
#color{
    color: #7D94E8;
}