*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    height: 64px;
    background-color: #E6EBFE;
    justify-content: space-between;
    margin-bottom: 23px;
}
.navbar_logo{
    margin-top: 18px;
    margin-left: 18px;
    font-size: 26px;
    background-image: linear-gradient(to right,#152B79 25%, #3250bd);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
}
.navbar_links{
    display: flex;
    list-style-type: none;
    gap: 21px;
    padding-right: 21.4px;
    padding-top: 24px;
    font-family: 'Lato', sans-serif;
}
.navbar_links a{
    text-decoration: none;
    color: #3250BD;
}
.navbar_links a:hover{
    border-bottom: 4px solid;
}
#color{
    color: #7D94E8;
}
.page{
    padding: 0 24px 0 24px;
}
.first_picture{
    display: flex;
    justify-content: center;
    /* padding-bottom: 97px; */
    /* tymczasowy odstęp */
    padding-bottom: 20px; 
}
.first_picture img{
    max-width: 100%; /* problem z szerokością na telefon i komputer*/
    border-radius: 4%;
}
.title{
    font-size: 20px;
}
.title:after{
    padding-bottom: 2px;
    content: '';
    display: block;
    position: relative;
    width: 128px;
    border-bottom: 2px solid #F39130;
}
.paragraph{
    display: block;
    color: #383838;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    padding-bottom: 48px;
}